<nav class="navbar navbar-deafult" role="navigation"  style="background-color: #ffc107">
  <div class="container">
    <div class="navbar-header">
      <% if user_signed_in? %>
        <%= image_tag user_avatar(current_user)  %>
      <% end %>
      <button type="button" class="navbar-toggle collapse" data-toggle="collapse" sata-target="#bs-example-navbar-collapse-1">
        <span class-"sr-only">Toggle navigation</span>
        <span class-"sr-only"></span>
        <span class-"sr-only"></span>
        <span class-"sr-only"></span>
      </button>
      <%= link_to "HOME", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" is="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%if user_signed_in? %>
          <li><%= link_to "New Product", new_product_path, class: "active" %></li>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
          <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
        <% end %>
        <% if cart_has_items %>
          <li><%= link_to "Cart", cart_path(@cart), class: "active" %></li>
        <% end %>
      </ul>
      <%= form_tag search_products_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "form-control"%>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</nav>